body {
  background-color: rgb(173, 166, 155);
}
nav {
  margin: auto;
  font-display: 200px;
  background-image: -moz-repeating-linear-gradient();
}

#top {
  margin-top: inline-block;
  background-color: black;
  background-image: url(images/sabri-tuzcu-wunVFNvqhfE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  border-radius: 20px;
}
.lofi {
  color: rgb(35, 67, 77);
  font-size: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 5%;
}
button {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  background-color: rgb(238, 118, 20);
  color: white;
  box-shadow:5px 5px 5px black ;
}

.myLink {
  color: white;
}
button:hover {
  transform: scale(1.1);
  background-color: yellowgreen;
  color: white;
}
#legacy {
  margin-block-end: auto;
}
#bottom {
  display: inline-block;
  background-color: ivory;
  margin: block 20px;
  background-color: darkcyan;
  margin-bottom: 10%;
}
.home {
  font-size: 45px;
  font-style: italic;
  margin-left: 2%;
}
h3 {
  font-size: 60px;
  font-style: normal;
  border-radius: 9px;
  background-color: f#42362961;
}
.about {
  display: inline-block;
  font-size: 5rem;
  background-color: rgb(69, 107, 119);
}
.h1 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  text-align: center;
  border: 1px solid black;
  margin: 82px;
}

.content {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  text-align: center;
}
.image {
  width: 50%;
  height: 75%;
  display: inline-block;
  float: left;
}

#prologue {
  display: block;
  width: 50%;
  float: right;
}
body {
  font-family: -apple-system, system-ui, Helvetica, Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

progress {
  opacity: 0;
}

.progress-element {
  width: 200px;
  margin: 0 0 10px;
}

.progress-container {
  position: relative;
  background: #eee;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: turquoise;
}

.progress-element--html .progress-container::before {
  animation: progress-html 1s ease-in forwards;
}

.progress-element--css .progress-container::before {
  animation: progress-css 1s ease-in forwards;
}

.progress-element--javascript .progress-container::before {
  animation: progress-javascript 1s ease-in forwards;
}

.progress-label {
  position: relative;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.progress-label::after {
  counter-reset: num var(--num);
  content: counter(num) "%";
  position: absolute;
  top: 0;
  right: 0;
}

.progress-element--html .progress-label::after {
  animation: progress-text-html 1s ease-in forwards;
}

.progress-element--css .progress-label::after {
  animation: progress-text-css 1s ease-in forwards;
}

.progress-element--javascript .progress-label::after {
  animation: progress-text-javascript 1s ease-in forwards;
}

@keyframes progress-html {
  to {
    width: 95%;
  }
}

@keyframes progress-css {
  to {
    width: 80%;
  }
}

@keyframes progress-javascript {
  to {
    width: 65%;
  }
}

@keyframes progress-text-html {
  to {
    --num: 95;
  }
}

@keyframes progress-text-css {
  to {
    --num: 80;
  }
}

@keyframes progress-text-javascript {
  to {
    --num: 65;
  }
}
.Skills{
  width: 50%;
  height: 75%;
  display: inline-block;

}
#leg{
  display: inline-block;
  font: 40px;
  border: #42362961;
  background-color: bisque;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 2px;
  padding: 2rem;
}
.asta{
  width: 79%;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  display: inline;
  margin-top: -3px;
  text-align: center;
}
.yuno{
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  text-align: center;
  border: 13px solid black;
  margin: 211px;
  border-radius: 84px;
}
.Hobbies{
  margin-block: 41px;
  border: 33px;
  padding: 153px;
}